# BD addresses mapping list for Bluetooth adapters and devices
#
# Usage:
#   1. Copy this or create new file as name "list"
#      $ mv list.sample list
#   2. Write combinations of your adapters’ DB address and your paired devices’ DB address following the notation below
#   3. Execute autoconnector with option -f
#      $ ./autoconnector.sh -f list
#
# Notation:
#   <ADAPTER_BD_ADDRESS>, <DEVICE_BD_ADDRESS>
#
# Tips:
#   You can check your adapters’ BD addresses by `bluetoothctl -- list` command
#   You can check your paired devices’ BD addresses by `bluetoothctl -- paired-devices` command

# replace this comment with your device name (e.g. iPhone)
XX:XX:XX:XX:XX:XX, XX:XX:XX:XX:XX:XX

# replace this comment with your device name (e.g. MacBook)
XX:XX:XX:XX:XX:XX, XX:XX:XX:XX:XX:XX
