# BD addresses mapping list for Bluetooth adapters and devices
#
# Notation:
#   <ADAPTER_BD_ADDRESS>, <DEVICE_BD_ADDRESS>
#
# Tips:
#   You can check your adapters’ BD addresses by `bluetoothctl -- list` command
#   You can check your paired devices’ BD addresses by `bluetoothctl -- paired-devices` command

# replace this comment with your device name (e.g. iPhone)
XX:XX:XX:XX:XX:XX, XX:XX:XX:XX:XX:XX

# replace this comment with your device name (e.g. MacBook)
XX:XX:XX:XX:XX:XX, XX:XX:XX:XX:XX:XX
